<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device.width">
        <title>user login</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="main w-full text-white min-h-screen bg-zinc-900 text-white">
            <div class="form p-10 text-white">
                <h1 class="text-3xl">login Users</h1>
                <form action="/login" method="post">
                    <input class="block w-80 px-5 py-3 m-1 bg-zinc-800 outline-none rounded-md" type="text" name="email" placeholder="Email">
                    <input class="block w-80 px-5 py-3 m-1 bg-zinc-800 outline-none rounded-md" type="text" name="password" placeholder="Password">
                    <input class="bg-indigo-500 mt-3 p-2 rounded-md" type="submit" value="Login">
                </form>
            </div>
        </div>
    </body>
</html>