

.function a{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s;
}
.btn{
    padding-top: 2px;
    height: 20px;
    width: 20px;
    transition: 0.3s;
}

.function a:hover{
    background-color: #363636;
    font-size: 18px;
}
.function a:hover .btn{
    height: 28px;
    width: 28px;
}